<a href="https://colab.research.google.com/github/bunnybbear/BasicProg_DataViz65/blob/main/Pandas_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

## Meta Data = Data that describes data
## CSV = Comma Separated Value

##นำ Data เข้า


*   upload to colab
*   link with google drive

##upload data to colab

In [8]:
data0 = pd.read_csv ('/content/opendata_project.csv')

FileNotFoundError: ignored

In [9]:
data0.head()

NameError: ignored

In [10]:
d = pd.read_csv('/content/opendata_unittype.csv')
d.head()

FileNotFoundError: ignored

##link with google drive

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
data1 = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
data1.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [14]:
data1.shape

(42625, 27)

##Explore data

In [15]:
data1.describe ()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

count คือ การนับจำนวนแบบ sql

std คือ ค่าเบี่ยงเบนมาตรฐาน บอกการกระจายข้อมูลออกจากค่ากลาง

เปอร์เซ็นไทล์ 

*   25% คือ จำนวนบ้านที่มีพื้นที่ต่ำกว่า 23 ตารางวา
*   50% คือ จำนวนบ้านที่มีพื้นที่ต่ำกว่า 50 ตารางวา
*   75% คือ จำนวนบ้านที่มีพื้นที่ต่ำกว่า 60 ตารางวา

ราคาบ้านที่แพงที่สุด ราคา 58 ล้าน

NaN = Not a Number

##ชี้ค่าในตาราง(indexing)

In [16]:
data1['propertytype_name_en']

0                 Condo
1            Twin house
2                 Condo
3                 Condo
4              Townhome
              ...
42620    Detached House
42621    Detached House
42622          Townhome
42623    Detached House
42624    Detached House
Name: propertytype_name_en, Length: 42625, dtype: object

In [17]:
data1['propertytype_name_en'][42619] #ชี้แบบเอาคอลัมน์ขึ้นก่อน

'Detached House'

.iloc

In [18]:
data1.iloc[42619,5]

'Detached House'

In [19]:
data1.iloc[-6,5]

'Detached House'

# Table Slicing

In [20]:
data1.iloc[-20:,7:10] #slice ไม่ค่อยมีประสิทธิภาพ

       area_total_min_wa  area_usable_min   price_min
42605                NaN              NaN   1300000.0
42606                NaN            349.0  18000000.0
42607                NaN             71.0  17000000.0
42608                NaN              NaN         NaN
42609                NaN              NaN         NaN
42610                NaN            250.0   5990000.0
42611                NaN              NaN         NaN
42612                NaN            154.0   4800000.0
42613               50.0            105.0   1900000.0
42614                NaN            142.1   4880000.0
42615                NaN             60.0   3500000.0
42616                NaN            200.0         NaN
42617                NaN              NaN         NaN
42618                NaN            130.0  36500000.0
42619                NaN            353.0  23590000.0
42620                NaN            157.0         NaN
42621                NaN            223.0   7490000.0
42622                NaN            133.0         NaN
42623                NaN            180.0   3200000.0
42624                NaN            170.0   3790000.0

In [21]:
data1.tail(10)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
42615,36172,unittype_34140,project_14663,2 Bedroom,2,Condo,คอนโด,NaN,60.0,3500000.0,...,1.0,NaN,NaN,NaN,NaN,NaN,2022-02-28 15:30:05,2022-02-28 14:43:35,baania,https://baania.com/th/project/พลัส-คอนโด-โคราช...
42616,28981,unittype_25373,project_10133,บ้านเดี่ยวสองชั้น,1,Detached House,บ้าน,NaN,200.0,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,2021-11-12 13:20:09,2020-10-14 00:49:06,baania,https://baania.com/th/project/ระยองการ์เด้นฮิล...
42617,35109,unittype_1459,project_711,บ้านแสงรุ่ง,3,Townhome,ทาวน์โฮม,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:46,2020-10-14 00:39:29,baania,https://baania.com/th/project/บ้านแสงรุ่ง-711/...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

##Table Query

In [22]:
data1[data1['propertytype_name_en']=='Condo'] #ใช้ logical condition ในการเลือก data

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
10,5238,unittype_15162,project_4107,Studio Floor 5-8,2,Condo,คอนโด,NaN,30.0,1116000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:21:06,2020-10-14 00:58:44,baania,https://baania.com/th/project/ซิตี้โฮม-รัตนาธิ...
14,29911,unittype_25780,project_10313,1 Bedroom,2,Condo,คอนโด,NaN,50.0,1700000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:11,2020-10-14 01:09:03,baania,https://baania.com/th/project/พัทยา-เดล-เรย์-1...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42590,23548,unittype_15279,project_3976,1 Bedroom Tower 1 Floor 5-6,2,Condo,คอนโด,NaN,33.0,989000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:01,2020-10-14 00:58:25,baania,https://baania.com/th/project/เดอะ-สตาร์-คอนโด...
42602,39384,unittype_3476,project_812,2 Bedroom Type A,2,Condo,คอนโด,NaN,94.0,6345000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 11:00:11,2022-01-14 10:32:44,baania,https://baania.com/th/project/เดอะ-ยูนีค-คอนโด...
42604,1058,unittype_7949,project_2641,Typical 1 Bedroom,2,Condo,คอนโด,NaN,34.0,3120000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:25:14,2020-10-27 15:03:40,baania,https://baania.com/th/project/ศุภาลัย-ไลท์-รัช...
42607,13546,unittype_40152,project_17505,2 Bedroom,2,Condo,คอนโด,NaN,71.0,17000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:23:03,2020-10-14 20:30:43,baania,https://baania.com/th/project/เดอะ-ไลน์-สาทร-1...
42615,36172,unittype_34140,project_14663,2 Bedroom,2,Condo,คอนโด,NaN,60.0,3500000.0,...,1.0,NaN,NaN,NaN,NaN,NaN,2022-02-28 15:30:05,2022-02-28 14:43:35,baania,https://baania.com/th/project/พลัส-คอนโด-โคราช...

In [23]:
data1['propertytype_name_en']=='Condo'

0         True
1        False
2         True
3         True
4        False
         ...
42620    False
42621    False
42622    False
42623    False
42624    False
Name: propertytype_name_en, Length: 42625, dtype: bool

In [24]:
#จำนวนแถวของ list จะต้องเท่ากับจำนวนของ ...

หาพื้นที่เฉลี่ยของบ้านที่มีราคามากกว่า 10 ล้าน

In [25]:
data1[data1['price_min']>10000000]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
11,2452,unittype_8521,project_2906,New Villa Valdivia,1,Detached House,บ้าน,NaN,441.0,36900000.0,...,1.0,1.0,1.0,1.0,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:47,baania,https://baania.com/th/project/แกรนด์-บางกอก-บู...
31,17879,5f682d5d0499a4001b30c305,5f6472855bdc5300198eb80a,2BR Duplex,2,Condo,คอนโด,NaN,293.0,34222500.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:26:37,2020-12-25 11:27:21,baania,https://baania.com/th/project/ไบรท์-ภูเก็ต-5f6...
35,6309,unittype_3461,project_754,Type C,1,Detached House,บ้าน,NaN,390.0,11000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2020-12-04 10:44:19,2020-10-14 21:21:23,baania,https://baania.com/th/project/บ้านล้านนาธารา-เ...
37,26913,unittype_23137,project_9231,4 Bedroom,2,Condo,คอนโด,NaN,305.0,24000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:59,2020-10-14 01:08:28,baania,https://baania.com/th/project/บางกอก-การ์เด้น-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42576,35213,unittype_22962,project_8609,Manhattan,1,Detached House,บ้าน,NaN,465.0,28900000.0,...,NaN,2.0,2.0,1.0,NaN,NaN,2021-11-12 13:33:58,2021-10-03 15:21:58,baania,https://baania.com/th/project/เดอะ-เจนทริ-สุขุ...
42606,24384,unittype_14126,project_5602,ทาวน์โฮมสามชั้น,3,Townhome,ทาวน์โฮม,NaN,349.0,18000000.0,...,1.0,2.0,NaN,NaN,NaN,NaN,2020-12-04 10:45:58,2020-10-14 22:59:34,baania,https://baania.com/th/project/เดอะ-ซีนีธ-5602/...
42607,13546,unittype_40152,project_17505,2 Bedroom,2,Condo,คอนโด,NaN,71.0,17000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:23:03,2020-10-14 20:30:43,baania,https://baania.com/th/project/เดอะ-ไลน์-สาทร-1...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...

In [26]:
data1[data1['price_min']>10000000]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
11,2452,unittype_8521,project_2906,New Villa Valdivia,1,Detached House,บ้าน,NaN,441.0,36900000.0,...,1.0,1.0,1.0,1.0,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:47,baania,https://baania.com/th/project/แกรนด์-บางกอก-บู...
31,17879,5f682d5d0499a4001b30c305,5f6472855bdc5300198eb80a,2BR Duplex,2,Condo,คอนโด,NaN,293.0,34222500.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:26:37,2020-12-25 11:27:21,baania,https://baania.com/th/project/ไบรท์-ภูเก็ต-5f6...
35,6309,unittype_3461,project_754,Type C,1,Detached House,บ้าน,NaN,390.0,11000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2020-12-04 10:44:19,2020-10-14 21:21:23,baania,https://baania.com/th/project/บ้านล้านนาธารา-เ...
37,26913,unittype_23137,project_9231,4 Bedroom,2,Condo,คอนโด,NaN,305.0,24000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:59,2020-10-14 01:08:28,baania,https://baania.com/th/project/บางกอก-การ์เด้น-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42576,35213,unittype_22962,project_8609,Manhattan,1,Detached House,บ้าน,NaN,465.0,28900000.0,...,NaN,2.0,2.0,1.0,NaN,NaN,2021-11-12 13:33:58,2021-10-03 15:21:58,baania,https://baania.com/th/project/เดอะ-เจนทริ-สุขุ...
42606,24384,unittype_14126,project_5602,ทาวน์โฮมสามชั้น,3,Townhome,ทาวน์โฮม,NaN,349.0,18000000.0,...,1.0,2.0,NaN,NaN,NaN,NaN,2020-12-04 10:45:58,2020-10-14 22:59:34,baania,https://baania.com/th/project/เดอะ-ซีนีธ-5602/...
42607,13546,unittype_40152,project_17505,2 Bedroom,2,Condo,คอนโด,NaN,71.0,17000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:23:03,2020-10-14 20:30:43,baania,https://baania.com/th/project/เดอะ-ไลน์-สาทร-1...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...

#Quiz 4

1. ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5 ล้านบาท
2. พื้นที่และจำนวนห้องนอนของบ้านที่แพงที่สุด
3. จำนวนที่จอดรถและห้องน้ำที่ถูกที่สุด
4. ชนิดของบ้านที่แพงที่สุด
5. บ้านชนิดไหนมีปริมาณมากที่สุด

In [35]:
#1. ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5 ล้านบาท
#data1[data1['price_min']>3000000&5000000].describe()
price_mean = data1[(data1['price_min']>=3000000) & (data1['price_min']<=5000000)]['price_min']

In [28]:
#2.พื้นที่และจำนวนห้องนอนของบ้านที่แพงที่สุด
data1['price_min'].max()

580000000.0

In [36]:
data1[data1['price_min']==data1['price_min'].max()]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
33122,8629,unittype_37324,project_16305,Penthouse,2,Condo,คอนโด,NaN,1182.0,580000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:20:31,2020-10-14 00:55:50,baania,https://baania.com/th/project/เดอะ-สุโขทัย-เรส...

In [37]:
data1[data1['price_min']==data1['price_min'].max()][['propertytype_name_en','area_usable_min','count_room_bed','price_min']]

      propertytype_name_en  area_usable_min  count_room_bed    price_min
33122                Condo           1182.0             3.0  580000000.0

In [30]:
#3.จำนวนที่จอดรถและห้องน้ำที่ถูกที่สุด
data1['price_min'].min()

100000.0

In [41]:
data1[data1['price_min']==data1['price_min'].min()][['propertytype_name_en','count_room_bath','count_parking','price_min']]

      propertytype_name_en  count_room_bath  count_parking  price_min
8640                 Condo              1.0            NaN   100000.0
11019                Condo              1.0            NaN   100000.0
17941                Condo              1.0            NaN   100000.0
30364                Condo              1.0            NaN   100000.0

In [39]:
#4. ชนิดของบ้านที่แพงที่สุด
data1[data1['price_min']==data1['price_min'].max()]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
33122,8629,unittype_37324,project_16305,Penthouse,2,Condo,คอนโด,NaN,1182.0,580000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:20:31,2020-10-14 00:55:50,baania,https://baania.com/th/project/เดอะ-สุโขทัย-เรส...

In [40]:
#5. บ้านชนิดไหนมีปริมาณมากที่สุด
data1['propertytype_name_en'].describe()

count              42625
unique                11
top       Detached House
freq               17670
Name: propertytype_name_en, dtype: object