<a href="https://colab.research.google.com/github/bunnybbear/BasicProg_DataViz65/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/Project Dataviz/Project Dataviz')

!pwd #เช็ค paht ที่กำลังทำงานอยู่

/content/drive/MyDrive/Project Dataviz/Project Dataviz

In [4]:
!ls

2KHwTM.csv	       opendata_neighborhood  opendata_train_line
opendata_district      opendata_project       opendata_train_station
opendata_eating_score  opendata_province      opendata_unittype
opendata_living_score  opendata_subdistrict

# ราคาบ้านเดี่ยวในกรุงเทพและปริมณฑล พร้อมกับคะแนนอาหารการกินของย่านต่างๆ และคะแนนการเดินทางเข้าถึงสถานที่ต่างๆ ในชีวิตประจำวัน เพื่อประกอบการตัดสินใจซื้อบ้านเดี่ยว

## ข้อมูลที่อยู่อาศัยราย Unit

In [5]:
open_unit = pd.read_csv('/content/drive/MyDrive/Project Dataviz/Project Dataviz/opendata_unittype/opendata_unittype.csv')
open_unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [6]:
#Select columns
open_unit.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype'],
      dtype='object')

In [7]:
unit = open_unit[['unittype_id', 'project_id','propertytype_id','propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa','price_min']]

In [8]:
#เลือกเฉพาะบ้าน
unit_BKK = unit[unit['propertytype_name_en']=='Detached House']

In [9]:
#เช็ค missing ของ unit
unit_BKK.isnull().any()

unittype_id             False
project_id              False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
price_min                True
dtype: bool

In [10]:
unit_BKK['area_total_min_wa'] = unit_BKK['area_total_min_wa'].fillna('1')
unit_BKK['price_min'] = unit_BKK['price_min'].fillna('0')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
unit_BKK.isnull().any() #เช็ค missing อีกครั้ง

unittype_id             False
project_id              False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa       False
price_min               False
dtype: bool

In [12]:
unit_BKK

,unittype_id,project_id,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,price_min
5,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0
7,unittype_14501,project_5799,1,Detached House,บ้าน,1,3300000.0
8,6215b4a7a441d30014e1f02f,6215b1cfc1620300140bc087,1,Detached House,บ้าน,1,990000.0
9,unittype_34564,project_14884,1,Detached House,บ้าน,1,0
11,unittype_8521,project_2906,1,Detached House,บ้าน,1,36900000.0
...,...,...,...,...,...,...,...
42619,unittype_34884,project_15005,1,Detached House,บ้าน,1,23590000.0
42620,unittype_38508,project_16864,1,Detached House,บ้าน,1,0
42621,unittype_14016,project_5275,1,Detached House,บ้าน,1,7490000.0
42623,unittype_37375,project_16389,1,Detached House,บ้าน,1,3200000.0
42624,unittype_17011,project_6762,1,Detached House,บ้าน,1,3790000.0

## ข้อมูลที่อยู่อาศัยรายโครงการ Project

In [13]:
open_project = pd.read_csv('/content/drive/MyDrive/Project Dataviz/Project Dataviz/opendata_project/opendata_project.csv')
open_project

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [14]:
#Select columns
open_project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [15]:
project = open_project[['project_id','name_en','name_th','subdistrict_id','subdistrict_name_th','district_id','district_name_th','province_id','province_name_th']]

In [16]:
province_BKK = project[project['province_name_th']=='กรุงเทพมหานคร']

In [17]:
province_BKK

,project_id,name_en,name_th,subdistrict_id,subdistrict_name_th,district_id,district_name_th,province_id,province_name_th
5,project_15884,H2 Wood,เอชทู วูด,3864.0,อนุสาวรีย์,3862.0,บางเขน,3781.0,กรุงเทพมหานคร
8,project_6637,Lumpini Place Rama 4-Sathorn,ลุมพินีเพลสพระราม 4-สาทร,3940.0,ช่องนนทรี,3939.0,ยานนาวา,3781.0,กรุงเทพมหานคร
11,project_16422,Loet Ubon 4,บ้านเลิศอุบล 4,3958.0,ลาดพร้าว,3957.0,ลาดพร้าว,3781.0,กรุงเทพมหานคร
13,60596713423c910014e3e723,The Master @BTS Onnut - Pattanakarn,เดอะ มาสเตอร์ @บีทีเอส อ่อนนุช - พัฒนาการ,3902.0,ประเวศ,3901.0,ประเวศ,3781.0,กรุงเทพมหานคร
15,project_8322,Baan Pudsorn 11,บ้านภัสสร 11,3999.0,ทุ่งสองห้อง,3997.0,หลักสี่,3781.0,กรุงเทพมหานคร
...,...,...,...,...,...,...,...,...,...
23424,614ab02bc4d52b0013a6fce4,Baan Ampornplace 2 Sukhaphiban 5,บ้านอัมพรเพลส 2 สุขาภิบาล 5,3984.0,ออเงิน,3981.0,สายไหม,3781.0,กรุงเทพมหานคร
23426,project_14944,Perfect residence krungthep-kreetha,เพอร์เฟค เรสซิเดนซ์ พระราม9-กรุงเทพกรีฑา,3953.0,คลองสองต้นนุ่น,3950.0,ลาดกระบัง,3781.0,กรุงเทพมหานคร
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3958.0,ลาดพร้าว,3957.0,ลาดพร้าว,3781.0,กรุงเทพมหานคร
23430,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3958.0,ลาดพร้าว,3957.0,ลาดพร้าว,3781.0,กรุงเทพมหานคร
23431,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,3794.0,บางชัน,3791.0,คลองสามวา,3781.0,กรุงเทพมหานคร

In [18]:
#เช็ค missing ของ province_BKK
province_BKK.isnull().any()

project_id             False
name_en                False
name_th                False
subdistrict_id         False
subdistrict_name_th    False
district_id            False
district_name_th       False
province_id            False
province_name_th       False
dtype: bool

## คะแนนเกี่ยวกับอาหารการกินของย่าน (Subdistrict) ต่างๆ

In [19]:
open_eat = pd.read_csv('/content/drive/MyDrive/Project Dataviz/Project Dataviz/opendata_eating_score/opendata_eating_score.csv')
open_eat.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,145,1007,CHANG KHLAN,ช้างคลาน,1006,MUEANG CHIANG MAI,เมืองเชียงใหม่,1005,Chiang Mai,เชียงใหม่,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0,baania,2022-09-30
1,102,3941,BANG PHONGPHANG,บางโพงพาง,3939,YAN NAWA,ยานนาวา,3781,Bangkok,กรุงเทพมหานคร,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0,baania,2022-09-30
2,64,3829,CHIMPHLI,ฉิมพลี,3826,TALING CHAN,ตลิ่งชัน,3781,Bangkok,กรุงเทพมหานคร,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0,baania,2022-09-30
3,96,3503,BANG DUAN,บางด้วน,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,79.0,93.0,93.0,21.0,62.0,76.0,69.0,49.0,baania,2022-09-30
4,17,2624,RAWAI,ราไวย์,2617,MUEANG PHUKET,เมืองภูเก็ต,2616,Phuket,ภูเก็ต,52.0,73.0,36.0,52.0,48.0,67.0,34.0,48.0,baania,2022-09-30

In [20]:
#Select columns
open_eat.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'source', 'day'],
      dtype='object')

In [21]:
eat = open_eat[['district_id','province_name_th','eating_daytime', 'eating_daytime_price','eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime','eating_nighttime_price', 'eating_nighttime_quality','eating_nighttime_variety']]

In [22]:
#เช็ค missing ของ eat
eat.isnull().any()

district_id                 False
province_name_th            False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

In [23]:
#เลือกเฉพาะกรุงเทพ
eat_BKK = eat[eat['province_name_th']=='กรุงเทพมหานคร']

In [24]:
eat_BKK

,district_id,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
1,3939,กรุงเทพมหานคร,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0
2,3826,กรุงเทพมหานคร,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0
6,3886,กรุงเทพมหานคร,68.0,60.0,62.0,96.0,76.0,52.0,65.0,97.0
8,3947,กรุงเทพมหานคร,64.0,81.0,51.0,65.0,61.0,72.0,50.0,62.0
10,3806,กรุงเทพมหานคร,73.0,85.0,68.0,63.0,66.0,80.0,56.0,64.0
...,...,...,...,...,...,...,...,...,...,...
544,3905,กรุงเทพมหานคร,68.0,77.0,60.0,68.0,73.0,64.0,62.0,84.0
546,3791,กรุงเทพมหานคร,58.0,85.0,35.0,61.0,56.0,81.0,27.0,61.0
547,3973,กรุงเทพมหานคร,63.0,53.0,62.0,85.0,71.0,56.0,63.0,85.0
548,3977,กรุงเทพมหานคร,69.0,63.0,60.0,98.0,78.0,55.0,68.0,97.0
552,3905,กรุงเทพมหานคร,72.0,70.0,69.0,82.0,74.0,58.0,69.0,86.0

##คะแนนการเดินทางเข้าถึงสถานที่ ในชีวิตประจำวันของพื้นที่ต่างๆ โดยคำนวณจาก 3 รูปแบบการเดินทาง และ 5 ประเภทของสถานที่เป้าหมายเพื่อการดำเนินชีวิตในแต่ละวัน
### คะแนนการเดินทางเข้าถึงสถานที่ คือ ความสะดวกต่างๆ เช่น ทางเดินเท้าดี หลอดไฟเยอะ สว่าง เป็นต้น
### 3 รูปแบบการเดินทาง : เดิน, ใช้ขนส่งสาธารณะ และรถส่วนตัว### 
### คะแนนสถานที่ คือ ความสะดวก ความใกล้ที่ต่างๆ เช่น อยู่ใกล้ รร ที่ทำงานเป็นต้น
### 5 ประเภทของสถานที่ : พักผ่อนหย่อนใจ, สถานที่บริการสาธารณะ, สถานศึกษา, shopping และแหล่งทำงาน

In [25]:
open_living = pd.read_csv('/content/drive/MyDrive/Project Dataviz/Project Dataviz/opendata_living_score/opendata_living_score.csv')
open_living.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,โสนลอย,3402,BANG BUA THONG,บางบัวทอง,3372,Nonthaburi,นนทบุรี,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,ตลาดน้อย,3973,SAMPHANTHAWONG,สัมพันธวงศ์,3781,Bangkok,กรุงเทพมหานคร,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,บ้านเก่า,4663,PHAN THONG,พานทอง,4616,Chon Buri,ชลบุรี,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30
3,209,2647,BAN THUM,บ้านทุ่ม,2638,MUEANG KHON KAEN,เมืองขอนแก่น,2637,Khon Kaen,ขอนแก่น,...,0.0,0.0,73.0,65.0,73.0,57.0,47.0,62.0,baania,2022-09-30
4,615,3799,RAM INTHRA,รามอินทรา,3797,KHAN NA YAO,คันนายาว,3781,Bangkok,กรุงเทพมหานคร,...,5.0,39.0,99.0,61.0,99.0,90.0,84.0,89.0,baania,2022-09-30

In [26]:
#Select columns
open_living.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total', 'source', 'day'],
      dtype='object')

In [27]:
living = open_living[['district_id','province_name_th','walk_leisure','walk_public_service','walk_school', 'walk_shopping', 'walk_work', 'walk_total','access_boat', 'access_bus', 'access_train', 'access_total','drive_leisure', 'drive_public_service', 'drive_school','drive_shopping', 'drive_work', 'drive_total']]

In [28]:
#เช็ค missing ของ living
living.isnull().any()

district_id             False
province_name_th        False
walk_leisure            False
walk_public_service     False
walk_school             False
walk_shopping           False
walk_work               False
walk_total              False
access_boat             False
access_bus              False
access_train            False
access_total            False
drive_leisure           False
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
dtype: bool

In [29]:
#เลือกเฉพาะกรุงเทพ
living_BKK = living[living['province_name_th']=='กรุงเทพมหานคร']

In [30]:
living_BKK

,district_id,province_name_th,walk_leisure,walk_public_service,walk_school,walk_shopping,walk_work,walk_total,access_boat,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
1,3973,กรุงเทพมหานคร,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0
4,3797,กรุงเทพมหานคร,89.0,94.0,89.0,97.0,99.0,95.0,1.0,94.0,5.0,39.0,99.0,61.0,99.0,90.0,84.0,89.0
5,3874,กรุงเทพมหานคร,99.0,100.0,99.0,100.0,100.0,100.0,99.0,99.0,96.0,99.0,100.0,83.0,100.0,97.0,91.0,96.0
9,3950,กรุงเทพมหานคร,95.0,100.0,95.0,100.0,100.0,99.0,55.0,88.0,1.0,57.0,99.0,55.0,100.0,75.0,57.0,79.0
18,3950,กรุงเทพมหานคร,75.0,98.0,75.0,100.0,99.0,92.0,92.0,97.0,1.0,76.0,92.0,53.0,98.0,98.0,88.0,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690,3869,กรุงเทพมหานคร,73.0,93.0,73.0,100.0,100.0,91.0,1.0,82.0,1.0,34.0,90.0,51.0,96.0,77.0,57.0,77.0
698,3881,กรุงเทพมหานคร,100.0,100.0,100.0,100.0,100.0,100.0,1.0,99.0,94.0,59.0,100.0,71.0,100.0,99.0,97.0,96.0
699,3928,กรุงเทพมหานคร,86.0,92.0,86.0,97.0,99.0,93.0,80.0,88.0,9.0,69.0,100.0,62.0,99.0,77.0,65.0,81.0
700,3928,กรุงเทพมหานคร,93.0,98.0,93.0,98.0,100.0,96.0,100.0,92.0,4.0,77.0,99.0,69.0,100.0,81.0,98.0,87.0
703,3879,กรุงเทพมหานคร,88.0,96.0,88.0,100.0,100.0,96.0,1.0,82.0,1.0,33.0,90.0,47.0,100.0,73.0,77.0,77.0

## Merge ตารางเข้าด้วยกัน

In [31]:
unit_project = unit_BKK.merge(province_BKK, left_on='project_id', right_on='project_id')
unit_project

,unittype_id,project_id,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,price_min,name_en,name_th,subdistrict_id,subdistrict_name_th,district_id,district_name_th,province_id,province_name_th
0,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,จอมทอง,3806.0,จอมทอง,3781.0,กรุงเทพมหานคร
1,unittype_25949,project_2694,1,Detached House,บ้าน,57.6,9900000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,จอมทอง,3806.0,จอมทอง,3781.0,กรุงเทพมหานคร
2,unittype_25950,project_2694,1,Detached House,บ้าน,68.7,12100000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,จอมทอง,3806.0,จอมทอง,3781.0,กรุงเทพมหานคร
3,unittype_8027,project_2694,1,Detached House,บ้าน,61.1,12600000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,จอมทอง,3806.0,จอมทอง,3781.0,กรุงเทพมหานคร
4,unittype_8521,project_2906,1,Detached House,บ้าน,1,36900000.0,Grand Bangkok Boulevard Rama 9-Srinakarin,แกรนด์ บางกอก บูเลอวาร์ด พระราม 9-ศรีนครินทร์,3972.0,สะพานสูง,3971.0,สะพานสูง,3781.0,กรุงเทพมหานคร
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3869,601cc29cd0aa1d0012bad282,project_16444,1,Detached House,บ้าน,1,0,Esta Home Private Park,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,บางโคล่,3865.0,บางคอแหลม,3781.0,กรุงเทพมหานคร
3870,611640d323a53800153ef0ef,61163f4f23a53800153ef0ee,1,Detached House,บ้าน,1,4900000.0,Baan Krisadanakon 18,บ้านกฤษดานคร 18,3835.0,ศาลาธรรมสพน์,3833.0,ทวีวัฒนา,3781.0,กรุงเทพมหานคร
3871,unittype_23418,project_9370,1,Detached House,บ้าน,1,2000000.0,Baan Saranwong,บ้านสราญวงศ์,3954.0,คลองสามประเวศ,3950.0,ลาดกระบัง,3781.0,กรุงเทพมหานคร
3872,unittype_29438,project_12199,1,Detached House,บ้าน,1,6190000.0,The Home Suan Pak 60,เดอะโฮม สวนผัก 60,3835.0,ศาลาธรรมสพน์,3833.0,ทวีวัฒนา,3781.0,กรุงเทพมหานคร
3873,unittype_37375,project_16389,1,Detached House,บ้าน,1,3200000.0,NarongKit Ramintra,ณรงค์กิจ รามอินทรา,3864.0,อนุสาวรีย์,3862.0,บางเขน,3781.0,กรุงเทพมหานคร

In [32]:
unit_project_eat = unit_project.merge(eat_BKK, left_on='district_id' , right_on='district_id')
unit_project_eat

,unittype_id,project_id,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,price_min,name_en,name_th,subdistrict_id,...,province_name_th_x,province_name_th_y,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,...,กรุงเทพมหานคร,กรุงเทพมหานคร,73.0,85.0,68.0,63.0,66.0,80.0,56.0,64.0
1,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,...,กรุงเทพมหานคร,กรุงเทพมหานคร,67.0,86.0,54.0,63.0,63.0,80.0,49.0,62.0
2,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,...,กรุงเทพมหานคร,กรุงเทพมหานคร,73.0,85.0,68.0,62.0,65.0,80.0,54.0,63.0
3,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,...,กรุงเทพมหานคร,กรุงเทพมหานคร,69.0,84.0,61.0,62.0,65.0,78.0,57.0,64.0
4,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,...,กรุงเทพมหานคร,กรุงเทพมหานคร,67.0,86.0,56.0,60.0,64.0,78.0,51.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,601cc29cd0aa1d0012bad282,project_16444,1,Detached House,บ้าน,1,0,Esta Home Private Park,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,...,กรุงเทพมหานคร,กรุงเทพมหานคร,65.0,67.0,56.0,83.0,75.0,63.0,56.0,96.0
12966,601cc29cd0aa1d0012bad282,project_16444,1,Detached House,บ้าน,1,0,Esta Home Private Park,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,...,กรุงเทพมหานคร,กรุงเทพมหานคร,65.0,78.0,53.0,69.0,69.0,65.0,55.0,81.0
12967,601cc29cd0aa1d0012bad282,project_16444,1,Detached House,บ้าน,1,0,Esta Home Private Park,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,...,กรุงเทพมหานคร,กรุงเทพมหานคร,66.0,70.0,56.0,82.0,71.0,61.0,58.0,84.0
12968,601cc29cd0aa1d0012bad282,project_16444,1,Detached House,บ้าน,1,0,Esta Home Private Park,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,...,กรุงเทพมหานคร,กรุงเทพมหานคร,65.0,67.0,56.0,83.0,75.0,63.0,56.0,96.0
12969,601cc29cd0aa1d0012bad282,project_16444,1,Detached House,บ้าน,1,0,Esta Home Private Park,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,...,กรุงเทพมหานคร,กรุงเทพมหานคร,65.0,78.0,53.0,69.0,69.0,65.0,55.0,81.0

In [33]:
unit_project_eat_living = unit_project_eat.merge(living_BKK, left_on='district_id' , right_on='district_id')
unit_project_eat_living

,unittype_id,project_id,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,price_min,name_en,name_th,subdistrict_id,...,access_boat,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
0,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,...,65.0,90.0,60.0,74.0,99.0,76.0,99.0,86.0,91.0,90.0
1,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,...,74.0,96.0,25.0,73.0,100.0,71.0,100.0,93.0,94.0,93.0
2,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,...,100.0,92.0,65.0,90.0,100.0,70.0,100.0,86.0,85.0,88.0
3,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,...,5.0,90.0,62.0,51.0,95.0,73.0,100.0,82.0,93.0,87.0
4,unittype_8026,project_2694,1,Detached House,บ้าน,70.5,11700000.0,Casa Grand Taksin - Rama 2,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,...,7.0,91.0,42.0,47.0,98.0,73.0,100.0,81.0,96.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53089,601cc29cd0aa1d0012bad282,project_16444,1,Detached House,บ้าน,1,0,Esta Home Private Park,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,...,67.0,94.0,93.0,83.0,98.0,79.0,100.0,89.0,99.0,92.0
53090,601cc29cd0aa1d0012bad282,project_16444,1,Detached House,บ้าน,1,0,Esta Home Private Park,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,...,77.0,96.0,100.0,90.0,100.0,94.0,100.0,95.0,99.0,97.0
53091,601cc29cd0aa1d0012bad282,project_16444,1,Detached House,บ้าน,1,0,Esta Home Private Park,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,...,100.0,100.0,100.0,100.0,100.0,81.0,100.0,95.0,100.0,96.0
53092,601cc29cd0aa1d0012bad282,project_16444,1,Detached House,บ้าน,1,0,Esta Home Private Park,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,...,67.0,94.0,93.0,83.0,98.0,79.0,100.0,89.0,99.0,92.0
53093,601cc29cd0aa1d0012bad282,project_16444,1,Detached House,บ้าน,1,0,Esta Home Private Park,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,...,77.0,96.0,100.0,90.0,100.0,94.0,100.0,95.0,99.0,97.0

In [34]:
unit_project_eat_living.isnull().any() #เช็ค missing

unittype_id                 False
project_id                  False
propertytype_id             False
propertytype_name_en        False
propertytype_name_th        False
area_total_min_wa           False
price_min                   False
name_en                     False
name_th                     False
subdistrict_id              False
subdistrict_name_th         False
district_id                 False
district_name_th            False
province_id                 False
province_name_th_x          False
province_name_th_y          False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
province_name_th            False
walk_leisure                False
walk_public_service         False
walk_school                 False
walk_shopping               False
walk_work                   False
walk_total                  False
access_boat                 False
access_bus                  False
access_train                False
access_total                False
drive_leisure               False
drive_public_service        False
drive_school                False
drive_shopping              False
drive_work                  False
drive_total                 False
dtype: bool

In [35]:
#Select columns
unit_project_eat_living.columns

Index(['unittype_id', 'project_id', 'propertytype_id', 'propertytype_name_en',
       'propertytype_name_th', 'area_total_min_wa', 'price_min', 'name_en',
       'name_th', 'subdistrict_id', 'subdistrict_name_th', 'district_id',
       'district_name_th', 'province_id', 'province_name_th_x',
       'province_name_th_y', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'province_name_th', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total'],
      dtype='object')

In [36]:
u_p_e_l = unit_project_eat_living[['unittype_id','project_id','propertytype_id','propertytype_name_th','area_total_min_wa','price_min','name_th','subdistrict_id','subdistrict_name_th', 'district_id','district_name_th', 'province_id', 'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'province_name_th', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total']]

In [37]:
u_p_e_l.isnull().any() #เช็ค missing

unittype_id                 False
project_id                  False
propertytype_id             False
propertytype_name_th        False
area_total_min_wa           False
price_min                   False
name_th                     False
subdistrict_id              False
subdistrict_name_th         False
district_id                 False
district_name_th            False
province_id                 False
province_name_th            False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
province_name_th            False
walk_leisure                False
walk_public_service         False
walk_school                 False
walk_shopping               False
walk_work                   False
walk_total                  False
access_boat                 False
access_bus                  False
access_train                False
access_total                False
drive_leisure               False
drive_public_service        False
drive_school                False
drive_shopping              False
drive_work                  False
drive_total                 False
dtype: bool

## Save File

In [38]:
u_p_e_l.to_csv('2KHwTM.csv',index=False)

In [39]:
!pwd #เช็ค paht ที่กำลังทำงานอยู่

/content/drive/MyDrive/Project Dataviz/Project Dataviz

##Visualization
ทำ bar chart เพื่อดูคะแนน eat และ living

In [40]:
All_Clean = pd.read_csv('/content/drive/MyDrive/Project Dataviz/Project Dataviz/2KHwTM.csv')
All_Clean

,unittype_id,project_id,propertytype_id,propertytype_name_th,area_total_min_wa,price_min,name_th,subdistrict_id,subdistrict_name_th,district_id,...,access_boat,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
0,unittype_8026,project_2694,1,บ้าน,70.5,11700000.0,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,จอมทอง,3806.0,...,65.0,90.0,60.0,74.0,99.0,76.0,99.0,86.0,91.0,90.0
1,unittype_8026,project_2694,1,บ้าน,70.5,11700000.0,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,จอมทอง,3806.0,...,74.0,96.0,25.0,73.0,100.0,71.0,100.0,93.0,94.0,93.0
2,unittype_8026,project_2694,1,บ้าน,70.5,11700000.0,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,จอมทอง,3806.0,...,100.0,92.0,65.0,90.0,100.0,70.0,100.0,86.0,85.0,88.0
3,unittype_8026,project_2694,1,บ้าน,70.5,11700000.0,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,จอมทอง,3806.0,...,5.0,90.0,62.0,51.0,95.0,73.0,100.0,82.0,93.0,87.0
4,unittype_8026,project_2694,1,บ้าน,70.5,11700000.0,คาซ่า แกรนด์ ตากสิน-พระราม 2,3807.0,จอมทอง,3806.0,...,7.0,91.0,42.0,47.0,98.0,73.0,100.0,81.0,96.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53089,601cc29cd0aa1d0012bad282,project_16444,1,บ้าน,1.0,0.0,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,บางโคล่,3865.0,...,67.0,94.0,93.0,83.0,98.0,79.0,100.0,89.0,99.0,92.0
53090,601cc29cd0aa1d0012bad282,project_16444,1,บ้าน,1.0,0.0,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,บางโคล่,3865.0,...,77.0,96.0,100.0,90.0,100.0,94.0,100.0,95.0,99.0,97.0
53091,601cc29cd0aa1d0012bad282,project_16444,1,บ้าน,1.0,0.0,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,บางโคล่,3865.0,...,100.0,100.0,100.0,100.0,100.0,81.0,100.0,95.0,100.0,96.0
53092,601cc29cd0aa1d0012bad282,project_16444,1,บ้าน,1.0,0.0,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,บางโคล่,3865.0,...,67.0,94.0,93.0,83.0,98.0,79.0,100.0,89.0,99.0,92.0
53093,601cc29cd0aa1d0012bad282,project_16444,1,บ้าน,1.0,0.0,เอสต้า โฮม ไพรเวท พาร์ค,3868.0,บางโคล่,3865.0,...,77.0,96.0,100.0,90.0,100.0,94.0,100.0,95.0,99.0,97.0

In [41]:
All_Clean.columns

Index(['unittype_id', 'project_id', 'propertytype_id', 'propertytype_name_th',
       'area_total_min_wa', 'price_min', 'name_th', 'subdistrict_id',
       'subdistrict_name_th', 'district_id', 'district_name_th', 'province_id',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'province_name_th.1', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total'],
      dtype='object')

In [42]:
Eating = All_Clean[['eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety']]

In [43]:
Eating

,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,73.0,85.0,68.0,63.0,66.0,80.0,56.0,64.0
1,73.0,85.0,68.0,63.0,66.0,80.0,56.0,64.0
2,73.0,85.0,68.0,63.0,66.0,80.0,56.0,64.0
3,73.0,85.0,68.0,63.0,66.0,80.0,56.0,64.0
4,73.0,85.0,68.0,63.0,66.0,80.0,56.0,64.0
...,...,...,...,...,...,...,...,...
53089,65.0,67.0,56.0,83.0,75.0,63.0,56.0,96.0
53090,65.0,67.0,56.0,83.0,75.0,63.0,56.0,96.0
53091,65.0,78.0,53.0,69.0,69.0,65.0,55.0,81.0
53092,65.0,78.0,53.0,69.0,69.0,65.0,55.0,81.0
53093,65.0,78.0,53.0,69.0,69.0,65.0,55.0,81.0

In [44]:
LV = All_Clean[['walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total']]

In [45]:
LV

,walk_leisure,walk_public_service,walk_school,walk_shopping,walk_work,walk_total,access_boat,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
0,82.0,98.0,82.0,98.0,99.0,93.0,65.0,90.0,60.0,74.0,99.0,76.0,99.0,86.0,91.0,90.0
1,81.0,97.0,81.0,100.0,100.0,94.0,74.0,96.0,25.0,73.0,100.0,71.0,100.0,93.0,94.0,93.0
2,86.0,84.0,86.0,100.0,100.0,94.0,100.0,92.0,65.0,90.0,100.0,70.0,100.0,86.0,85.0,88.0
3,90.0,90.0,90.0,93.0,93.0,92.0,5.0,90.0,62.0,51.0,95.0,73.0,100.0,82.0,93.0,87.0
4,96.0,99.0,96.0,100.0,99.0,99.0,7.0,91.0,42.0,47.0,98.0,73.0,100.0,81.0,96.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53089,84.0,99.0,84.0,99.0,99.0,94.0,67.0,94.0,93.0,83.0,98.0,79.0,100.0,89.0,99.0,92.0
53090,100.0,100.0,100.0,100.0,100.0,100.0,77.0,96.0,100.0,90.0,100.0,94.0,100.0,95.0,99.0,97.0
53091,98.0,100.0,98.0,100.0,100.0,99.0,100.0,100.0,100.0,100.0,100.0,81.0,100.0,95.0,100.0,96.0
53092,84.0,99.0,84.0,99.0,99.0,94.0,67.0,94.0,93.0,83.0,98.0,79.0,100.0,89.0,99.0,92.0
53093,100.0,100.0,100.0,100.0,100.0,100.0,77.0,96.0,100.0,90.0,100.0,94.0,100.0,95.0,99.0,97.0

In [46]:
import matplotlib
matplotlib.rcParams['figure.figsize']=[12,6]