<a href="https://colab.research.google.com/github/bunnybbear/BasicProg_DataViz65/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## ข้อมูลที่อยู่อาศัยราย Unit

In [20]:
open_unit = pd.read_csv('/content/drive/MyDrive/Project Dataviz/Project Dataviz/opendata_unittype/opendata_unittype.csv')
open_unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [21]:
#Select columns
open_unit.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype'],
      dtype='object')

In [26]:
unit = open_unit[['unittype_id', 'project_id','propertytype_id','propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa','price_min']]

In [27]:
#เช็ค missing ของ unit
unit.isnull().any()

unittype_id             False
project_id              False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
price_min                True
dtype: bool

In [45]:
unit['area_total_min_wa'] = unit['area_total_min_wa'].fillna('1')
unit['price_min'] = unit['price_min'].fillna('0')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [68]:
unit.isnull().any() #เช็ค missing อีกครั้ง

unittype_id             False
project_id              False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa       False
price_min               False
dtype: bool

In [49]:
unit

,unittype_id,project_id,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,price_min
0,unittype_9565,project_2446,2,Condo,คอนโด,1,2500000.0
1,unittype_10267,project_3543,20000,Twin house,บ้านแฝด,40.0,2390000.0
2,unittype_471,project_143,2,Condo,คอนโด,1,0
3,unittype_19506,project_7766,2,Condo,คอนโด,1,170000.0
4,unittype_10290,project_3551,3,Townhome,ทาวน์โฮม,1,2390000.0
...,...,...,...,...,...,...,...
42620,unittype_38508,project_16864,1,Detached House,บ้าน,1,0
42621,unittype_14016,project_5275,1,Detached House,บ้าน,1,7490000.0
42622,617bde1687dd2300149d2195,617bdd47f62011001350de07,3,Townhome,ทาวน์โฮม,1,0
42623,unittype_37375,project_16389,1,Detached House,บ้าน,1,3200000.0
42624,unittype_17011,project_6762,1,Detached House,บ้าน,1,3790000.0

## ข้อมูลที่อยู่อาศัยรายโครงการ Project

In [62]:
open_project = pd.read_csv('/content/drive/MyDrive/Project Dataviz/Project Dataviz/opendata_project/opendata_project.csv')
open_project

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [63]:
#Select columns
open_project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [64]:
project = open_project[['project_id','name_en','name_th','propertytype_id','district_id']]

In [65]:
#เช็ค missing ของ project
project.isnull().any()

project_id         False
name_en            False
name_th            False
propertytype_id    False
district_id         True
dtype: bool

In [66]:
project['district_id'] = project['district_id'].dropna

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
project

,project_id,name_en,name_th,propertytype_id,district_id
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,<bound method Series.dropna of 0 3499.0...
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,<bound method Series.dropna of 0 3499.0...
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,<bound method Series.dropna of 0 3499.0...
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,<bound method Series.dropna of 0 3499.0...
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,<bound method Series.dropna of 0 3499.0...
...,...,...,...,...,...
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,<bound method Series.dropna of 0 3499.0...
23430,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,<bound method Series.dropna of 0 3499.0...
23431,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,<bound method Series.dropna of 0 3499.0...
23432,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,<bound method Series.dropna of 0 3499.0...
23433,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,<bound method Series.dropna of 0 3499.0...

## คะแนนเกี่ยวกับอาหารการกินของย่าน (Subdistrict) ต่างๆ

In [16]:
open_eat = pd.read_csv('/content/drive/MyDrive/Project Dataviz/Project Dataviz/opendata_eating_score/opendata_eating_score.csv')
open_eat.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,145,1007,CHANG KHLAN,ช้างคลาน,1006,MUEANG CHIANG MAI,เมืองเชียงใหม่,1005,Chiang Mai,เชียงใหม่,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0,baania,2022-09-30
1,102,3941,BANG PHONGPHANG,บางโพงพาง,3939,YAN NAWA,ยานนาวา,3781,Bangkok,กรุงเทพมหานคร,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0,baania,2022-09-30
2,64,3829,CHIMPHLI,ฉิมพลี,3826,TALING CHAN,ตลิ่งชัน,3781,Bangkok,กรุงเทพมหานคร,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0,baania,2022-09-30
3,96,3503,BANG DUAN,บางด้วน,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,79.0,93.0,93.0,21.0,62.0,76.0,69.0,49.0,baania,2022-09-30
4,17,2624,RAWAI,ราไวย์,2617,MUEANG PHUKET,เมืองภูเก็ต,2616,Phuket,ภูเก็ต,52.0,73.0,36.0,52.0,48.0,67.0,34.0,48.0,baania,2022-09-30

##คะแนนการเดินทางเข้าถึงสถานที่ใช้ชีวิตประจำวันของพื้นที่ต่างๆ โดยคำนวณจาก 3 รูปแบบการเดินทาง และ 5 ประเภทของสถานที่เป้าหมายเพื่อการดำเนินชีวิตในแต่ละวัน

In [17]:
open_living = pd.read_csv('/content/drive/MyDrive/Project Dataviz/Project Dataviz/opendata_living_score/opendata_living_score.csv')
open_living.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,โสนลอย,3402,BANG BUA THONG,บางบัวทอง,3372,Nonthaburi,นนทบุรี,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,ตลาดน้อย,3973,SAMPHANTHAWONG,สัมพันธวงศ์,3781,Bangkok,กรุงเทพมหานคร,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,บ้านเก่า,4663,PHAN THONG,พานทอง,4616,Chon Buri,ชลบุรี,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30
3,209,2647,BAN THUM,บ้านทุ่ม,2638,MUEANG KHON KAEN,เมืองขอนแก่น,2637,Khon Kaen,ขอนแก่น,...,0.0,0.0,73.0,65.0,73.0,57.0,47.0,62.0,baania,2022-09-30
4,615,3799,RAM INTHRA,รามอินทรา,3797,KHAN NA YAO,คันนายาว,3781,Bangkok,กรุงเทพมหานคร,...,5.0,39.0,99.0,61.0,99.0,90.0,84.0,89.0,baania,2022-09-30